//  Variables
$white-color: #fff;
$black-color: #000;
$side-menu-width: 70px;
$side-menu-bg: #222635;
$side-menu-btn-width: 45px;
$side-menu-btn-height: $side-menu-btn-width;

$bg: #fff;
$primary-font: 'Droid Arabic Naskh', sans-serif, tahoma ;
$secondary-font: 'Noto Kufi Arabic', sans-serif, tahoma ;
