//  Variables
$white-color: #fff;
$black-color: #000;
$top-menu-height: 50px;
$top-menu-bg: #2F2933;
$top-menu-btn-height: 50px;

$bg: #fff;
$text-color: #000;
$primary-color: #FF686B;
$primary-font: 'Droid Arabic Naskh', sans-serif, tahoma ;
$secondary-font: 'Noto Kufi Arabic', sans-serif, tahoma ;
