//  Variables
$white-color: #fff;
$black-color: #000;
$top-menu-height: 50px;
$top-menu-bg: #fff;
$top-menu-btn-height: 32px;

$bg: #fff;
$text-color: #8A8887;
$primary-color: #FF3D2E;
$primary-font: 'Droid Arabic Naskh', sans-serif, tahoma ;
$secondary-font: 'Noto Kufi Arabic', sans-serif, tahoma ;
