//  Import fonts
@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import 'variables';
@import 'base';

html, body {
    height:100%;
    margin:0;
}

body {
  font-family: $primary-font;
  background-color: $bg;
  color: $text-color;
}



// @mixin heading-type ($heading) {
//   #{$heading} {
//     position: relative;
//
//     &:before {
//       content: '#{$heading}';
//       font-size: 25px;
//       font-weight: normal;
//       font-variant: all-small-caps;
//       position: absolute;
//       top: 2px;
//       right: -50px;
//     }
//   }
// }
//
// @for $i from 1 through 6 {
//   @include heading-type('h#{$i}');
// }
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  height: 100%;
  .top_menu {
    min-height: $top-menu-height;
    margin: 0;
    // margin-bottom: 10px;
    padding: 0;
    background-color: $top-menu-bg;
    list-style-type: none;
    font-family: $secondary-font;
    color: #5C5855;
    text-align: center;
    box-shadow: 0 0 5px 1px rgba($black-color, .08);
    > li {
      float: right;
      position: relative;
      > button {
        height: $top-menu-btn-height;
        line-height: $top-menu-btn-height;
        padding: 0 25px;
        background: $primary-color;
        border: none;
        outline: none;
        border-radius: 0px;
        color: $white-color;
        font-family: inherit;
        font-size: 13px;
        font-weight: bold;
        position: relative;
        cursor: pointer;
        transition: .3s ease;

        span {
          vertical-align: middle;
        }

        svg {
          fill: $white-color;
          width: 20px;
          vertical-align: middle;
        }

        &.btn-preview {
          background-color: rgba($white-color, .25);
          svg {
            fill: $white-color;
          }
        }

        &:focus {
          + .sub_menu {
            visibility: visible;
          }
        }
      }
      .sub_menu {
        visibility: hidden;
        margin: 0;
        padding: 0;
        list-style-type: none;
        min-width: 220px;
        position: absolute;
        top: 50px;
        right: 0;
        &:before {
          content: '';
          border: 7px solid transparent;
          border-bottom-color: #000;
          position: absolute;
          top: -14px;
          right: 23px;
        }
        li {
          display: block;
          button {
            display: block;
            margin: 0;
            width: 100%;
            padding: 18px 25px;
            background-color: #000;
            color: #fff;
            border: none;
            font-family: inherit;
            font-weight: bold;
            font-size: 12px;
            text-align: right;
            transition: all .3s ease;
            &:focus, &:hover {
              background-color: $primary-color;
            }
          }
        }
      }
    }
    .doc-title {
      height: $top-menu-height;
      line-height: $top-menu-height;
      padding: 0 25px;
      background-color: transparent;
      color: #eee;
      border: none;
      float: right;
      width: 60%;
      font-family: $primary-font;
    }

    #logo {
      float: left;
      width: 30px;
      margin: 8px 0 6px 16px;
    }
  }
}

.body-wrapper {
  height: calc(100% - 88px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  
  &.toggle-preview {
    .editor {
      flex: 1;
      width: auto;
      max-width: none;
    }
    .preview {
      display: block;
    }
  }

  .editor {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    outline: 1px solid transparent;
    overflow: auto;
    // transition: all .3s ease-in-out;
  }
  .preview {
    display: none;
    flex: 1;
    padding: 15px;
    border-right: 1px solid #eee;
    overflow: auto;
    word-break: break-word;
  }
}

.credits {
  margin: 0;
  padding: 5px 25px;
  font-size: 13px;
  font-weight: bold;
  color: lighten($black-color, 56);
}
