//  Import fonts
@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import 'variables';
@import 'base';




html, body {
    height:100%;
    margin:0;
}

body {
  font-family: $primary-font;
  background-color: $bg;
}



// @mixin heading-type ($heading) {
//   #{$heading} {
//     position: relative;
//
//     &:before {
//       content: '#{$heading}';
//       font-size: 25px;
//       font-weight: normal;
//       font-variant: all-small-caps;
//       position: absolute;
//       top: 2px;
//       right: -50px;
//     }
//   }
// }
//
// @for $i from 1 through 6 {
//   @include heading-type('h#{$i}');
// }
#app {
  display: flex;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;

  .editor {
    flex: 1;
    padding: 15px;
    border-left: 1px solid #eee;
    outline: 1px solid $white-color;
    overflow: auto;
  }
  .preview {
    flex: 1;
    padding: 15px;
    overflow: auto;
  }
  .side_menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: $side-menu-width;
    background-color: $side-menu-bg;
    color: lighten($side-menu-bg, 55);
    text-align: center;
    li {
      display: inline-block;
      margin: 15px 0;
      button {
        width: $side-menu-btn-width;
        height: $side-menu-btn-height;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 5px;
        color: inherit;
        font-size: 28px;
        position: relative;
        transition: .3s ease;

        &:before {
          content: '';
          display: block;
          margin: auto;
          width: 6px;
          height: 6px;
          opacity: 0;
          background-color: #1DD3B0;
          border-radius: 50%;
          box-shadow: 0 0 5px 1px #1DD3B0;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -3px;
          transition: .2s ease;
        }

        &:hover, &:focus {
          background-color: darken($side-menu-bg, 5);
          color: $white-color;
        }
        &.active, &:focus {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
